/* Nav.module.css */

.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* 네비게이션 바의 z-index 설정 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #fff; /* 예시로 배경 추가 */
}

.navItem {
  margin-right: 20px;
}
