.chatTitle {
  background-color: #f4b28e;
  border-radius: 1rem;
  padding: 1px 55px;
}

.messageContainer {
  overflow-y: scroll;
  height: 20vh;
  position: relative;
  width: 280px;
  margin: 12px 10px;
  max-height: 40vh;
  overflow-y: scroll;
  scrollbar-color: #f4b28e #f1f0f0;
  background-color: #f3f3f3;
}

.myMessage {
  width: 60%;
  float: right;
  background-color: #fcd9db;
  border-width: 2px;
  border-color: #fcd9db;
  padding: 4px 8px;
  border-radius: 18px;
  margin-bottom: 4px;
  text-align: right;
  overflow-wrap: break-word;
}

.otherMessage {
  width: 60%;
  background-color: #e0e0e0;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 18px;
  margin-bottom: 4px;
  display: inline-block;
  text-align: left;
  overflow-wrap: break-word;
}

.message {
  margin-bottom: 6px;
}

.exitButton {
  position: relative;
  padding: 2px;
  margin-left: 3px;
}

.exitButton:hover {
  position: relative;
  padding: 2px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.exitButton::after {
  content: "채팅 나가기";
  position: absolute;
  top: -60%;
  left: 40%;
  transform: translateX(-50%);
  background-color: rgba(128, 128, 128, 0.7);
  color: white;
  padding: 0 2px;
  border-radius: 3px;
  font-size: 10px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.exitButton:hover::after {
  opacity: 1;
  visibility: visible;
}

.sendInput {
  padding: 3px 20px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-shadow: 0px 0px 1px #bca79d;
  outline: none;
}

.sendInput:focus {
  border-color: #bca79d;
}

.sendButton {
  position: relative;
  background-color: #ccc;
  color: white;
  padding: 3px 10px;
  margin: 3px 0;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  box-shadow: 0px 0px 2px #bca79d;
}

.sendButton:hover {
  background-color: #f4b28e;
}

.sendButton::after {
  content: "메시지 보내기";
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(128, 128, 128, 0.7);
  color: white;
  padding: 0 2px;
  border-radius: 3px;
  font-size: 10px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.sendButton:hover::after {
  opacity: 1;
  visibility: visible;
}
