* {
  color: #616961;
}

.leftContainer {
  position: relative;
  height: 90vh;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.topButton {
  margin: 1% 10% 1% 0;
  display: flex;
  justify-content: space-between;
}

.member {
}

.leave {
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #d3d3d3;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  }

  /* 클릭시 음각이 되는 효과 */
  &:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.bottomButton {
  display: flex;
  justify-content: center;
  margin: 3%;
  width: 80%;
  bottom: 0px;
  position: absolute;
  text-align: center;
}

.code {
  display: flex inline-block;
  text-align: center;
  width: 33%;
  border-radius: 5px;
  border: 1px solid #bcf3bb;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  }

  /* 클릭시 음각이 되는 효과 */
  &:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.unactive {
  display: inline-block;
  text-align: center;
  background-color: ddd;
  color: #eee;
  width: 15%;
  border-radius: 5px;
  margin-left: 3%;
}

.start {
  display: inline-block;
  text-align: center;
  background-color: #bcf3bb;
  color: #ffffff;
  width: 15%;
  border-radius: 5px;
  margin-left: 3%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  }

  /* 클릭시 음각이 되는 효과 */
  &:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.container {
  display: flex;
  justify-content: center;
}

.sidebar {
  height: 83vh;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.bottombar {
  height: 20vh;
  padding: 0.25rem;
  border-width: 4px;
  border-color: red;
}

.video {
  transform: scaleX(-1);
  /* display: none; */
  width: 40%; /* 여기서 크기 조절 */
  height: auto;
  border-radius: 0.5rem;
}
