.container {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .container > div {
  margin: 0 20px;
} */
.mycam {
  position: relative;
  width: 100%;
  border: 3px solid rgb(28, 0, 142);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wordle {
  width: 100%;
  border: 3px solid orchid;
}
