.code {
  display: inline-block;
  border: 1px solid orange;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  }

  /* 클릭시 음각이 되는 효과 */
  &:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}
