.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 1000px; */
  width: 1080px;
  border-radius: 10px;
  padding: 20px;
  background: white;
  z-index: 1050;
}

.wordContent {
  margin: auto;
}

.wordContent div {
  /* position: relative; */
  /* top:1%; */
  /* color: #fff; */
}

.video {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* z-index: 1000; */
}

.video video {
  /* width: 45%;
  height: auto;
  top: 25%;
  left: 4%; */
  border-radius: 5%;
  position: relative;
  width: 480px;
  height: auto;
}

.resultContent {
  /* margin: auto; */
  width: 480px;
}

.trialContainer {
  border: 3px solid rgb(133, 205, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.streakContainer {
  border: 3px solid rgb(133, 205, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dotContainer {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 17px;
}

.dot1 {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: rgba(106, 230, 168, 0.3);
  border-radius: 50%;
  font-size: 12px;
}

.dot2 {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: rgba(229, 123, 123, 0.3);
  border-radius: 50%;
}

.unicode {
  position: relative;
  bottom: 8px;
  font-size: 10px;
}

.reactCalendar {
  width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  /* box-shadow: 0 12px 24px rgba(83, 83, 83, 0.2); */
  line-height: 1.125em;
}
/* .myReactCalendarNavigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.myReactCalendarNavigation button:enabled:hover,
.myReactCalendarNavigation button:enabled:focus {
  background-color: #f8f8fa;
}
.myReactCalendarNavigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
} */
/* .myReactCalendarMonthViewDaysDayWeekend {
  color: #d10000;
 } */
/* .myReactCalendarTile:enabled:hover,
.myReactCalendarTile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
}
.myReactCalendarTileNow {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.myReactCalendarTileNow:enabled:hover,
.myReactCalendarTileNow:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.myReactCalendarTileHasActive:enabled:hover,
.myReactCalendarTileHasActive:enabled:focus {
  background: #f8f8fa;
}
.myReactCalendarTileActive {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.myReactCalendarTileActive:enabled:hover,
.myReactCalendarTileActive:enabled:focus {
  background: #6f48eb;
  color: white;
}
.myReactCalendarSelectRange .myReactCalendarTileHover {
  background-color: #f8f8fa;
}
.myReactCalendarTileRange {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}
.myReactCalendarTileRangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}
.myReactCalendarTileRangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
} */
