.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  background-color: #eee;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 1px 4px #ffb79a3d;
}

.solvedStateContainer {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff8b;
  padding: 8px;
  border-radius: 15px;
  background-origin: padding-box;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.boardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gameboardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.notification {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.keyboardContainer {
  width: 100%;
}
