.set {
  position: relative;
  font-size: 16px;
  border-radius: 0.5rem; /* 컨테이너에도 둥근 모서리 적용 */
  width: 100%;
  padding-top: 56.25%; /* 16:9 비율 */
  overflow: hidden;
  border-radius: 0.5rem;
}

.solverSet {
  font-size: 16px;
  margin: 0 10% 10% 0;
  height: auto;
  background-color: #dcf8c6;
  border-radius: 0.5rem;
  padding: 5px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: scaleX(-1);
  border-radius: 0.5rem;
}

.nickname,
.myNickname {
  position: absolute;
  left: 20px;
  top: 20px;
  max-width: 40%; /* 최대 너비 제한 */
  padding: 5px 10px;
  display: flex;
  justify-content: start;
  border-radius: 0.5rem; /* 하단에 둥근 모서리 적용 */
  background-color: #ffffffd4; /* 기본 배경색 */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  cursor: default;
  z-index: 2; /* 비디오 위에 표시되도록 z-index 설정 */
  color: #1c1c1c;
  overflow: hidden; /* 너비를 벗어나는 텍스트 숨김 */
}

.myNickname {
  background-color: #dcf8c6e2; /* 사용자 닉네임에 다른 배경색 적용 */
}
